html, body {
    margin: 0;
    width: 100%;
    overflow: hidden;
}

.main-container {
    width: 100%;
    height: 1080px;
    position: relative;
}

#img-background {
    width: 100%;
    height: auto;
}

h1 {
    width: 100%;
    margin-top: 15%;
    position: absolute;
    font-size: 8vw;
    font-weight: bold;
    text-align: center;
    color: white;
    font-family: "Oswald", sans-serif;
    letter-spacing: 5px;
}

#clock {
    width: 100%;
    position: absolute;
    font-size: 9vw;
    color: white;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    margin-top: 25%;
}

.footer {
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    text-align: center;
    position: absolute;
    margin-left: 43%;
    margin-top: -7%;
    font-size: 23px;
    color: lightcyan;
}







